<div class="container">
    <div class="card">
      <div class="card-header">
        <h2>Car Details</h2>
      </div>
  
      <div class="card-body">
        <div *ngIf="vinData; else loading">
          <div class="vin-section">
            <h4>VIN: <span>{{ vin }}</span></h4>
          </div>
  
          <div class="car-specifications">
            <h3>Car Specifications</h3>
            <ul>
              <li><strong>Make:</strong> {{ vinData.Make }}</li>
              <li><strong>Model:</strong> {{ vinData.Model }}</li>
              <li><strong>Manufacturer Name:</strong> {{ vinData['Manufacturer Name'] }}</li>
              <li><strong>Model Year:</strong> {{ vinData['Model Year'] }}</li>
              <li><strong>Plant City:</strong> {{ vinData['Plant City'] }}</li>
              <li><strong>Series:</strong> {{ vinData.Series }}</li>
              <li><strong>Vehicle Type:</strong> {{ vinData['Vehicle Type'] }}</li>
              <li><strong>Base Price ($):</strong> ${{ vinData['Base Price ($)'] }}</li>
              <li><strong>Body Class:</strong> {{ vinData['Body Class'] }}</li>
              <li><strong>Weight Rating:</strong> {{ vinData['Gross Vehicle Weight Rating From'] }}</li>
            </ul>
          </div>
        </div>
  
        <ng-template #loading>
          <div class="loading">
            <div class="spinner"></div>
            <p>Loading car details...</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  